services:
  npm:
    image: "{{ npm_app_image }}"
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    env_file:
      - .env
    environment:
      TZ: "${TZ}"
      DB_MYSQL_HOST: "${DB_MYSQL_HOST}"
      DB_MYSQL_PORT: "${DB_MYSQL_PORT}"
      DB_MYSQL_NAME: "${DB_MYSQL_NAME}"
      DB_MYSQL_USER: "${DB_MYSQL_USER}"
      DB_MYSQL_PASSWORD: "${DB_MYSQL_PASSWORD}"
      INITIAL_ADMIN_EMAIL: "${INITIAL_ADMIN_EMAIL}"
      INITIAL_ADMIN_PASSWORD: "${INITIAL_ADMIN_PASSWORD}"
      DISABLE_IPV6: "true"
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
      - "{{ npm_directory }}/default-host:/data/nginx/default_host"
{% if npm_self_signed_enabled_effective %}      - "{{ npm_self_signed_certificate_directory_effective }}:/data/ip-certificates:ro"
{% endif %}    networks:
      - proxy
      - database

volumes:
  npm_data:
    name: npm_data
  npm_letsencrypt:
    name: npm_letsencrypt

networks:
  proxy:
    external: true
    name: "{{ docker_proxy_network }}"
  database:
    external: true
    name: "{{ docker_database_network }}"
