TZ="{{ timezone }}"
DB_MYSQL_HOST="shared-db"
DB_MYSQL_PORT="3306"
DB_MYSQL_NAME="{{ npm_database_name }}"
DB_MYSQL_USER="{{ npm_database_user }}"
DB_MYSQL_PASSWORD="{{ npm_database_password }}"
INITIAL_ADMIN_EMAIL="{{ npm_admin_email }}"
INITIAL_ADMIN_PASSWORD="{{ npm_admin_password }}"
