TZ={{ timezone }}
DB_MYSQL_HOST=npm-db
DB_MYSQL_PORT=3306
DB_MYSQL_NAME={{ npm_database_name }}
DB_MYSQL_USER={{ npm_database_user }}
DB_MYSQL_PASSWORD={{ npm_database_password }}
MYSQL_DATABASE={{ npm_database_name }}
MYSQL_USER={{ npm_database_user }}
MYSQL_PASSWORD={{ npm_database_password }}
MYSQL_ROOT_PASSWORD={{ npm_database_root_password }}
