services:
  zabbix-server:
    image: "{{ zabbix_server_image }}"
    container_name: zabbix-server
    restart: unless-stopped
    init: true
    env_file:
      - .env
    environment:
      DB_SERVER_HOST: shared-db
      DB_SERVER_PORT: "3306"
      MYSQL_DATABASE: "${ZABBIX_DB_NAME}"
      MYSQL_USER: "${ZABBIX_DB_USER}"
      MYSQL_PASSWORD: "${ZABBIX_DB_PASSWORD}"
    ports:
      - "10051:10051"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
{% if security_monitoring_bind_persistent_data_effective %}      - "{{ zabbix_directory_effective }}/data/alertscripts:/usr/lib/zabbix/alertscripts"
      - "{{ zabbix_directory_effective }}/data/externalscripts:/usr/lib/zabbix/externalscripts"
      - "{{ zabbix_directory_effective }}/data/modules:/var/lib/zabbix/modules"
      - "{{ zabbix_directory_effective }}/data/enc:/var/lib/zabbix/enc"
      - "{{ zabbix_directory_effective }}/data/ssh_keys:/var/lib/zabbix/ssh_keys"
      - "{{ zabbix_directory_effective }}/data/ssl/certs:/var/lib/zabbix/ssl/certs"
      - "{{ zabbix_directory_effective }}/data/ssl/keys:/var/lib/zabbix/ssl/keys"
      - "{{ zabbix_directory_effective }}/data/ssl/ssl_ca:/var/lib/zabbix/ssl/ssl_ca"
{% else %}      - zabbix_alertscripts:/usr/lib/zabbix/alertscripts
      - zabbix_externalscripts:/usr/lib/zabbix/externalscripts
      - zabbix_modules:/var/lib/zabbix/modules
      - zabbix_enc:/var/lib/zabbix/enc
      - zabbix_ssh_keys:/var/lib/zabbix/ssh_keys
      - zabbix_ssl_certs:/var/lib/zabbix/ssl/certs
      - zabbix_ssl_keys:/var/lib/zabbix/ssl/keys
      - zabbix_ssl_ca:/var/lib/zabbix/ssl/ssl_ca
{% endif %}    networks:
      - database
      - zabbix_internal

  zabbix-web-nginx:
    image: "{{ zabbix_web_image }}"
    container_name: zabbix-web-nginx
    restart: unless-stopped
    init: true
    env_file:
      - .env
    environment:
      ZBX_SERVER_HOST: zabbix-server
      ZBX_SERVER_PORT: "10051"
      DB_SERVER_HOST: shared-db
      DB_SERVER_PORT: "3306"
      MYSQL_DATABASE: "${ZABBIX_DB_NAME}"
      MYSQL_USER: "${ZABBIX_DB_USER}"
      MYSQL_PASSWORD: "${ZABBIX_DB_PASSWORD}"
      PHP_TZ: "{{ timezone }}"
      ZBX_SERVER_NAME: "{{ zabbix_server_name }}"
      ENABLE_WEB_ACCESS_LOG: "true"
    networks:
      zabbix_internal:
      database:
      proxy:
        aliases:
          - zabbix-web-nginx

{% if not security_monitoring_bind_persistent_data_effective %}volumes:
  zabbix_alertscripts:
    name: zabbix_alertscripts
  zabbix_externalscripts:
    name: zabbix_externalscripts
  zabbix_modules:
    name: zabbix_modules
  zabbix_enc:
    name: zabbix_enc
  zabbix_ssh_keys:
    name: zabbix_ssh_keys
  zabbix_ssl_certs:
    name: zabbix_ssl_certs
  zabbix_ssl_keys:
    name: zabbix_ssl_keys
  zabbix_ssl_ca:
    name: zabbix_ssl_ca

{% endif %}networks:
  zabbix_internal:
    name: zabbix_internal
  database:
    external: true
    name: "{{ docker_database_network }}"
  proxy:
    external: true
    name: "{{ docker_proxy_network }}"
